.listing-area{
	background:	 #F5F6F1;
	padding:10px;
}
.available {
    height: 61px;
    padding: 20px 0;
}
.category-name{
	background:#C6C68D;
	padding:5px;
}
.input-group-addon {
    padding: 6px 16px;
}
.popover{
	position:absolute;
	padding: 10px;
    bottom: 33px;
    top: auto;
    left:0;
    width: 175px;;
}
.popover:after{
  width: 0;
    content: "";
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    bottom: -9px;
    position: absolute;
    left: 33px;
}
.cell{
	padding:5px;
	height: 30px;
	position:relative;
}
.data-cell{
	background:#EEEEEE;
	border-left: 1px solid #ccc;
}
.background1{
	background:#F5F6F1;
	padding:10px;
}
.background2{
	background:#F9F9F9;
	padding:10px;
}
.price-cell{
	background:#F5F6F1;
	border-left: 1px solid #ccc;
	
}
.data-value{
	display:inline-block;
	padding:0px 6px;
	border-bottom:1px dotted #000;
}
.title-cell{
	height:20px;
	text-align:center;
	border-left: 1px solid #ccc;
	
}
.days label{
	font-weight:normal;
}
.day-name{
	background: #DEDEDD;
}
.day-block{
	width: 800px;
	display:table-cell;
	text-align:center;
}
.padding-0{
	padding:0px;
}
.margin-bottom-10{
	margin-bottom:10px;
}

.pointer{
	cursor: pointer;
}
.Sun , .Sat{
	background: #880000;
	color: #fff;
}
.main-box{
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}